#container{
    height: 1015px;
    background-image: url(https://media.istockphoto.com/photos/abstract-blue-background-with-grunge-texture-and-white-geometric-and-picture-id1293539824?b=1&k=20&m=1293539824&s=170667a&w=0&h=GnQ_AHJ4ob3B0K_nc-l-Ihiff9gWqnNkfLpWYpz0M9U=);
}

#containerMain{
    height: 3100px;
    background-color: #0a1045;
}

select{
    text-align: center;
}

#pokemonCard{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 1015px;
    margin: auto;
    background-color: #ededed;
}

#card{
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    width: 209px;
    height: 291px;
}

#bigCard{
    border-radius: 10px;
    margin-bottom: 30px;
    width: 272px;
    height: 378px;
    box-shadow: 5px 5px 5px black;
}

#buttons{
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}

.pages{
    margin: 0 15px 0 15px;
}

.btn-info{
    display: block;
    margin: auto;
}

#cardBox{
    margin: auto;
    width: 800px;
    height: 1075px;
    display: flex;
    /* margin-top: 5px; */
    background-color: #ededed;
    padding: 25px;
}

.leftSide{
    flex: 1;
    margin-right: 75px;
}

.rightSide{
    flex: 2
}

/* .nameBox{
    
} */

.topBox{
    background-color: #a4a4a4;
    color: white;
    height: 60px;
    font-family: sans-serif;
    border-radius: 5px 5px 0 0;
    padding: 12px;
}

.bottomBox{
    background-color: #f2f2f2;
    height: 120px;
    border-radius: 0 0 5px 5px;
    padding: 12px;
}

.upper{
    display: flex;
    justify-content: space-between;
}

.hp{
    display: flex;
    align-items: baseline;
}

.hp > h3{
    margin-right: 10px;
}

h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
}

.cardInfo{
    padding: 12px;
    margin-top: 30px;
}

.bottomInfo{
    background-color: #f2f2f2;

}

.flexMe{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    height: 90px;
    padding: 18px;
    border-radius: 5px;

}

.setInfo{
    padding: 18px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
}

#setImg{
    width: 40px;
    height: 40px;
}

.icon-Darkness{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: 0px -50px;
    width: 25px;
    height: 25px;
    
}

.icon-Dragon{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: 0px -25px;
    width: 25px;
    height: 25px;
    
}

.icon-Fire{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: 0px 0px;
    width: 25px;
    height: 25px;
    
}

.icon-Grass{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: -25px -50px;
    width: 25px;
    height: 25px;
}

.icon-Lightning{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: -25px -25px;
    width: 25px;
    height: 25px;
}

.icon-Colorless{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: -25px 0px;
    width: 25px;
    height: 25px;
}

.icon-Fighting{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: -50px -25px;
    width: 25px;
    height: 25px;
}

.icon-Fairy{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: -50px 0px;
    width: 25px;
    height: 25px;
}

.icon-Metal{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: 25px 0px;
    width: 25px;
    height: 25px;
}

.icon-Water{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: 25px 25px;
    width: 25px;
    height: 25px;
}

.icon-Psychic{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/cards/energy-types.png);
    background-position: 25px 50px;
    width: 25px;
    height: 25px;
}

.attackCost{
    display: flex;
}

.bottomIcons{
    display: flex;
    justify-content: center;
}

.dexImg{
    height: 430px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 15px;
}

.dexDisplay{
    width: 1200px;
    height: 1015px;
    margin: auto;
    background-color: #ffffff;
    padding: 15px;
}

.stats{
    width: 430px;
    height: 276px;
    border-radius: 10px;
    background-color: #a4a4a4;
}

.baseStat{
    border-left: 50px solid #30a7d7;
    margin: 0 10px 75px 10px;
    float: left;
}

.statList{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 15px;
    margin-left: 30px;
    transform: scaleY(-1);
}

.hp{
    margin-left: 30px;
}
.attack{
    margin-left: 43px;
}
.defense{
    margin-left: 29px;
}
.special-attack{
    margin-left: 25px;
    width: 50px;
    text-align: center;
}
.special-defense{
    margin-left: 20px;
    width: 50px;
    text-align: center;
}
.speed{
    margin-left: 25px;
    width: 50px;
}

.statAtt{
    margin-top: -30px;
}

.bannerImg{
    position: absolute;
    top: 85.75%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}

video{
    width: 100%;
}

#expansionBtn{
    position: absolute;
    top: 105%;
    right: 42.5%;
    height: 5%;
    width: 15%;
    font-size:x-large;
    border: 2px solid #191c20;
    box-shadow: 5px 5px 5px #b8a024;
}

.divider{
    border-top: 3px solid #b8a024;
    border-bottom: 3px solid #b8a024;
}

.dividerBig{
    border-top: 5px solid #b8a024;
    border-bottom: 5px solid #b8a024;
}

.arceus{
    box-shadow: 5px 5px 5px #b8a024;
}

.btn-dark{
    font-size:x-large;
    border: 2px solid #191c20;
    box-shadow: 5px 5px 5px #b8a024;
}