.pokemonCard{
    width: 215px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.bigImg{
    width: 226px;
    height: 315px;
    border: 5px solid cyan;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
}

#container{
    display: flex;
    justify-content: space-evenly;
}